In [1]:
import pandas as pd

In [2]:
!pip install pyarrow

Requirement already satisfied: pyarrow in /home/codespace/anaconda3/lib/python3.9/site-packages (16.0.0)
Requirement already satisfied: numpy>=1.16.6 in /home/codespace/anaconda3/lib/python3.9/site-packages (from pyarrow) (1.21.5)

In [3]:
pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet")

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.70,1.00,0.5,0.00,0.00,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.00,3.50,0.5,3.75,0.00,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.30,3.50,0.5,3.00,0.00,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.00,3.50,0.5,2.00,0.00,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.90,3.50,0.5,3.20,0.00,1.0,16.10,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2964619,2,2024-01-31 23:45:59,2024-01-31 23:54:36,NaN,3.18,NaN,None,107,263,0,15.77,0.00,0.5,2.00,0.00,1.0,21.77,NaN,NaN
2964620,1,2024-01-31 23:13:07,2024-01-31 23:27:52,NaN,4.00,NaN,None,114,236,0,18.40,1.00,0.5,2.34,0.00,1.0,25.74,NaN,NaN
2964621,2,2024-01-31 23:19:00,2024-01-31 23:38:00,NaN,3.33,NaN,None,211,25,0,19.97,0.00,0.5,0.00,0.00,1.0,23.97,NaN,NaN
2964622,2,2024-01-31 23:07:23,2024-01-31 23:25:14,NaN,3.06,NaN,None,107,13,0,23.88,0.00,0.5,5.58,0.00,1.0,33.46,NaN,NaN
2964623,1,2024-01-31 23:58:25,2024-02-01 00:13:30,NaN,8.10,NaN,None,138,75,0,32.40,7.75,0.5,7.29,6.94,1.0,55.88,NaN,NaN

### HOME WORK

In [4]:
# Jan = https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet (df1 - train)
# Feb = https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet (df2 - validate)

In [5]:
import pandas as pd
import pickle
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

from sklearn.metrics import mean_squared_error

In [6]:
#1. Downloading the data
#Download the data for January and February 2023.
#Read the data for January. How many columns are there?

In [7]:
df1 = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet")
df1.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [8]:
df1.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')

In [9]:
#Ans = 19 columns

In [10]:
#2.Computing duration 
#Now let's compute the duration variable. It should contain the duration of a ride in minutes.
#What's the standard deviation of the trips duration in January?

In [11]:
df1['duration'] = df1.tpep_dropoff_datetime - df1.tpep_pickup_datetime
df1.duration = df1.duration.apply(lambda td: td.total_seconds() / 60)
df1.duration

0           8.433333
1           6.316667
2          12.750000
3           9.616667
4          10.833333
             ...
3066761    13.983333
3066762    19.450000
3066763    24.516667
3066764    13.000000
3066765    14.400000
Name: duration, Length: 3066766, dtype: float64

In [12]:
std_dev_df1 = df1['duration'].std()
std_dev_df1

42.594351241920904

In [13]:
#3. Dropping outliers
# Next, we need to check the distribution of the duration variable. There are some outliers. 
#Let's remove them and keep only the records where the duration was between 1 and 60 minutes (inclusive).

# What fraction of the records left after you dropped the outliers?

In [14]:
num_rows = len(df1['duration'])
num_rows

3066766

In [15]:
Df1_num_rows =len(df1)
Df1_num_rows

3066766

In [16]:
df1 = df1[(df1.duration >= 1) & (df1.duration <= 60)]
Df1_num_rows_new =len(df1)
Df1_num_rows_new

3009173

In [17]:
#Fraction of record left

In [18]:
(3009173/3066766)*100

98.1220282212598

In [19]:
#4. One-hot encoding
#Let's apply one-hot encoding to the pickup and dropoff location IDs. We'll use only these two features for our model.
#Turn the dataframe into a list of dictionaries (remember to re-cast the ids to strings - 
#otherwise it will label encode them)
#Fit a dictionary vectorizer
#Get a feature matrix from it
#What's the dimensionality of this matrix (number of columns)?

In [20]:
# Specify categorical and numerical features
categorical = ['PULocationID', 'DOLocationID']
numerical = ['trip_distance']

# Cast categorical features to string
df1[categorical] = df1[categorical].astype(str)

# Convert DataFrame to a list of dictionaries
train_dicts = df1[categorical + numerical].to_dict(orient='records')

# Initialize and fit DictVectorizer
dv = DictVectorizer(sparse=True)
X_train = dv.fit_transform(train_dicts)

# Get the dimensionality of the matrix (number of columns)
feature_names = dv.get_feature_names_out()  # This replaces non-existing X_train.columns
num_columns = len(feature_names)  # This is the number of features after one-hot encoding

print("Feature matrix has {} columns.".format(num_columns))
print("Feature names:", feature_names)

Feature matrix has 516 columns.
Feature names: ['DOLocationID=1' 'DOLocationID=10' 'DOLocationID=100' 'DOLocationID=101'
 'DOLocationID=102' 'DOLocationID=106' 'DOLocationID=107'
 'DOLocationID=108' 'DOLocationID=109' 'DOLocationID=11'
 'DOLocationID=111' 'DOLocationID=112' 'DOLocationID=113'
 'DOLocationID=114' 'DOLocationID=115' 'DOLocationID=116'
 'DOLocationID=117' 'DOLocationID=118' 'DOLocationID=119'
 'DOLocationID=12' 'DOLocationID=120' 'DOLocationID=121'
 'DOLocationID=122' 'DOLocationID=123' 'DOLocationID=124'
 'DOLocationID=125' 'DOLocationID=126' 'DOLocationID=127'
 'DOLocationID=128' 'DOLocationID=129' 'DOLocationID=13'
 'DOLocationID=130' 'DOLocationID=131' 'DOLocationID=132'
 'DOLocationID=133' 'DOLocationID=134' 'DOLocationID=135'
 'DOLocationID=136' 'DOLocationID=137' 'DOLocationID=138'
 'DOLocationID=139' 'DOLocationID=14' 'DOLocationID=140'
 'DOLocationID=141' 'DOLocationID=142' 'DOLocationID=143'
 'DOLocationID=144' 'DOLocationID=145' 'DOLocationID=146'
 'DOLocationID=147' 'DOLocationID=148' 'DOLocationID=149'
 'DOLocationID=15' 'DOLocationID=150' 'DOLocationID=151'
 'DOLocationID=152' 'DOLocationID=153' 'DOLocationID=154'
 'DOLocationID=155' 'DOLocationID=156' 'DOLocationID=157'
 'DOLocationID=158' 'DOLocationID=159' 'DOLocationID=16'
 'DOLocationID=160' 'DOLocationID=161' 'DOLocationID=162'
 'DOLocationID=163' 'DOLocationID=164' 'DOLocationID=165'
 'DOLocationID=166' 'DOLocationID=167' 'DOLocationID=168'
 'DOLocationID=169' 'DOLocationID=17' 'DOLocationID=170'
 'DOLocationID=171' 'DOLocationID=172' 'DOLocationID=173'
 'DOLocationID=174' 'DOLocationID=175' 'DOLocationID=176'
 'DOLocationID=177' 'DOLocationID=178' 'DOLocationID=179'
 'DOLocationID=18' 'DOLocationID=180' 'DOLocationID=181'
 'DOLocationID=182' 'DOLocationID=183' 'DOLocationID=184'
 'DOLocationID=185' 'DOLocationID=186' 'DOLocationID=187'
 'DOLocationID=188' 'DOLocationID=189' 'DOLocationID=19'
 'DOLocationID=190' 'DOLocationID=191' 'DOLocationID=192'
 'DOLocationID=193' 'DOLocationID=194' 'DOLocationID=195'
 'DOLocationID=196' 'DOLocationID=197' 'DOLocationID=198' 'DOLocationID=2'
 'DOLocationID=20' 'DOLocationID=200' 'DOLocationID=201'
 'DOLocationID=202' 'DOLocationID=203' 'DOLocationID=204'
 'DOLocationID=205' 'DOLocationID=206' 'DOLocationID=207'
 'DOLocationID=208' 'DOLocationID=209' 'DOLocationID=21'
 'DOLocationID=210' 'DOLocationID=211' 'DOLocationID=212'
 'DOLocationID=213' 'DOLocationID=214' 'DOLocationID=215'
 'DOLocationID=216' 'DOLocationID=217' 'DOLocationID=218'
 'DOLocationID=219' 'DOLocationID=22' 'DOLocationID=220'
 'DOLocationID=221' 'DOLocationID=222' 'DOLocationID=223'
 'DOLocationID=224' 'DOLocationID=225' 'DOLocationID=226'
 'DOLocationID=227' 'DOLocationID=228' 'DOLocationID=229'
 'DOLocationID=23' 'DOLocationID=230' 'DOLocationID=231'
 'DOLocationID=232' 'DOLocationID=233' 'DOLocationID=234'
 'DOLocationID=235' 'DOLocationID=236' 'DOLocationID=237'
 'DOLocationID=238' 'DOLocationID=239' 'DOLocationID=24'
 'DOLocationID=240' 'DOLocationID=241' 'DOLocationID=242'
 'DOLocationID=243' 'DOLocationID=244' 'DOLocationID=245'
 'DOLocationID=246' 'DOLocationID=247' 'DOLocationID=248'
 'DOLocationID=249' 'DOLocationID=25' 'DOLocationID=250'
 'DOLocationID=251' 'DOLocationID=252' 'DOLocationID=253'
 'DOLocationID=254' 'DOLocationID=255' 'DOLocationID=256'
 'DOLocationID=257' 'DOLocationID=258' 'DOLocationID=259'
 'DOLocationID=26' 'DOLocationID=260' 'DOLocationID=261'
 'DOLocationID=262' 'DOLocationID=263' 'DOLocationID=264'
 'DOLocationID=265' 'DOLocationID=27' 'DOLocationID=28' 'DOLocationID=29'
 'DOLocationID=3' 'DOLocationID=30' 'DOLocationID=31' 'DOLocationID=32'
 'DOLocationID=33' 'DOLocationID=34' 'DOLocationID=35' 'DOLocationID=36'
 'DOLocationID=37' 'DOLocationID=38' 'DOLocationID=39' 'DOLocationID=4'
 'DOLocationID=40' 'DOLocationID=41' 'DOLocationID=42' 'DOLocationID=43'
 'DOLocationID=44' 'DOLocationID=45' 'DOLocationID=46' 'DOLocationID=47'
 'DOLocationID=48' 'DOLocationID=49' 'DOLocationID=5' 'DOLocationID=50'
 'DOLocationID=51' 'DOLocationID=52' 'DOLocationID=53' 'DOLocationID=54'
 'DOLocationID=55' 'DOLocationID=56' 'DOLocationID=57' 'DOLocationID=58'
 'DOLocationID=59' 'DOLocationID=6' 'DOLocationID=60' 'DOLocationID=61'
 'DOLocationID=62' 'DOLocationID=63' 'DOLocationID=64' 'DOLocationID=65'
 'DOLocationID=66' 'DOLocationID=67' 'DOLocationID=68' 'DOLocationID=69'
 'DOLocationID=7' 'DOLocationID=70' 'DOLocationID=71' 'DOLocationID=72'
 'DOLocationID=73' 'DOLocationID=74' 'DOLocationID=75' 'DOLocationID=76'
 'DOLocationID=77' 'DOLocationID=78' 'DOLocationID=79' 'DOLocationID=8'
 'DOLocationID=80' 'DOLocationID=81' 'DOLocationID=82' 'DOLocationID=83'
 'DOLocationID=84' 'DOLocationID=85' 'DOLocationID=86' 'DOLocationID=87'
 'DOLocationID=88' 'DOLocationID=89' 'DOLocationID=9' 'DOLocationID=90'
 'DOLocationID=91' 'DOLocationID=92' 'DOLocationID=93' 'DOLocationID=94'
 'DOLocationID=95' 'DOLocationID=96' 'DOLocationID=97' 'DOLocationID=98'
 'DOLocationID=99' 'PULocationID=1' 'PULocationID=10' 'PULocationID=100'
 'PULocationID=101' 'PULocationID=102' 'PULocationID=106'
 'PULocationID=107' 'PULocationID=108' 'PULocationID=109'
 'PULocationID=11' 'PULocationID=111' 'PULocationID=112'
 'PULocationID=113' 'PULocationID=114' 'PULocationID=115'
 'PULocationID=116' 'PULocationID=117' 'PULocationID=118'
 'PULocationID=119' 'PULocationID=12' 'PULocationID=120'
 'PULocationID=121' 'PULocationID=122' 'PULocationID=123'
 'PULocationID=124' 'PULocationID=125' 'PULocationID=126'
 'PULocationID=127' 'PULocationID=128' 'PULocationID=129'
 'PULocationID=13' 'PULocationID=130' 'PULocationID=131'
 'PULocationID=132' 'PULocationID=133' 'PULocationID=134'
 'PULocationID=135' 'PULocationID=136' 'PULocationID=137'
 'PULocationID=138' 'PULocationID=139' 'PULocationID=14'
 'PULocationID=140' 'PULocationID=141' 'PULocationID=142'
 'PULocationID=143' 'PULocationID=144' 'PULocationID=145'
 'PULocationID=146' 'PULocationID=147' 'PULocationID=148'
 'PULocationID=149' 'PULocationID=15' 'PULocationID=150'
 'PULocationID=151' 'PULocationID=152' 'PULocationID=153'
 'PULocationID=154' 'PULocationID=155' 'PULocationID=156'
 'PULocationID=157' 'PULocationID=158' 'PULocationID=159'
 'PULocationID=16' 'PULocationID=160' 'PULocationID=161'
 'PULocationID=162' 'PULocationID=163' 'PULocationID=164'
 'PULocationID=165' 'PULocationID=166' 'PULocationID=167'
 'PULocationID=168' 'PULocationID=169' 'PULocationID=17'
 'PULocationID=170' 'PULocationID=171' 'PULocationID=172'
 'PULocationID=173' 'PULocationID=174' 'PULocationID=175'
 'PULocationID=177' 'PULocationID=178' 'PULocationID=179'
 'PULocationID=18' 'PULocationID=180' 'PULocationID=181'
 'PULocationID=182' 'PULocationID=183' 'PULocationID=184'
 'PULocationID=185' 'PULocationID=186' 'PULocationID=187'
 'PULocationID=188' 'PULocationID=189' 'PULocationID=19'
 'PULocationID=190' 'PULocationID=191' 'PULocationID=192'
 'PULocationID=193' 'PULocationID=194' 'PULocationID=195'
 'PULocationID=196' 'PULocationID=197' 'PULocationID=198'
 'PULocationID=199' 'PULocationID=2' 'PULocationID=20' 'PULocationID=200'
 'PULocationID=201' 'PULocationID=202' 'PULocationID=203'
 'PULocationID=205' 'PULocationID=206' 'PULocationID=207'
 'PULocationID=208' 'PULocationID=209' 'PULocationID=21'
 'PULocationID=210' 'PULocationID=211' 'PULocationID=212'
 'PULocationID=213' 'PULocationID=214' 'PULocationID=215'
 'PULocationID=216' 'PULocationID=217' 'PULocationID=218'
 'PULocationID=219' 'PULocationID=22' 'PULocationID=220'
 'PULocationID=221' 'PULocationID=222' 'PULocationID=223'
 'PULocationID=224' 'PULocationID=225' 'PULocationID=226'
 'PULocationID=227' 'PULocationID=228' 'PULocationID=229'
 'PULocationID=23' 'PULocationID=230' 'PULocationID=231'
 'PULocationID=232' 'PULocationID=233' 'PULocationID=234'
 'PULocationID=235' 'PULocationID=236' 'PULocationID=237'
 'PULocationID=238' 'PULocationID=239' 'PULocationID=24'
 'PULocationID=240' 'PULocationID=241' 'PULocationID=242'
 'PULocationID=243' 'PULocationID=244' 'PULocationID=245'
 'PULocationID=246' 'PULocationID=247' 'PULocationID=248'
 'PULocationID=249' 'PULocationID=25' 'PULocationID=250'
 'PULocationID=251' 'PULocationID=252' 'PULocationID=253'
 'PULocationID=254' 'PULocationID=255' 'PULocationID=256'
 'PULocationID=257' 'PULocationID=258' 'PULocationID=259'
 'PULocationID=26' 'PULocationID=260' 'PULocationID=261'
 'PULocationID=262' 'PULocationID=263' 'PULocationID=264'
 'PULocationID=265' 'PULocationID=28' 'PULocationID=29' 'PULocationID=3'
 'PULocationID=30' 'PULocationID=31' 'PULocationID=32' 'PULocationID=33'
 'PULocationID=34' 'PULocationID=35' 'PULocationID=36' 'PULocationID=37'
 'PULocationID=38' 'PULocationID=39' 'PULocationID=4' 'PULocationID=40'
 'PULocationID=41' 'PULocationID=42' 'PULocationID=43' 'PULocationID=44'
 'PULocationID=45' 'PULocationID=46' 'PULocationID=47' 'PULocationID=48'
 'PULocationID=49' 'PULocationID=5' 'PULocationID=50' 'PULocationID=51'
 'PULocationID=52' 'PULocationID=53' 'PULocationID=54' 'PULocationID=55'
 'PULocationID=56' 'PULocationID=57' 'PULocationID=58' 'PULocationID=6'
 'PULocationID=60' 'PULocationID=61' 'PULocationID=62' 'PULocationID=63'
 'PULocationID=64' 'PULocationID=65' 'PULocationID=66' 'PULocationID=67'
 'PULocationID=68' 'PULocationID=69' 'PULocationID=7' 'PULocationID=70'
 'PULocationID=71' 'PULocationID=72' 'PULocationID=73' 'PULocationID=74'
 'PULocationID=75' 'PULocationID=76' 'PULocationID=77' 'PULocationID=78'
 'PULocationID=79' 'PULocationID=8' 'PULocationID=80' 'PULocationID=81'
 'PULocationID=82' 'PULocationID=83' 'PULocationID=85' 'PULocationID=86'
 'PULocationID=87' 'PULocationID=88' 'PULocationID=89' 'PULocationID=9'
 'PULocationID=90' 'PULocationID=91' 'PULocationID=92' 'PULocationID=93'
 'PULocationID=94' 'PULocationID=95' 'PULocationID=96' 'PULocationID=97'
 'PULocationID=98' 'trip_distance']

In [21]:
#5.  Training a model
#Now let's use the feature matrix from the previous step to train a model.
#Train a plain linear regression model with default parameters
#Calculate the RMSE of the model on the training data
#What's the RMSE on train?

In [22]:
#Using the Linear Regression Model
target = 'duration'
y_train = df1[target].values

lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_train)

mean_squared_error(y_train, y_pred, squared=False)

7.649140464167203

In [23]:
#6. Evaluating the model
#Now let's apply this model to the validation dataset (February 2023).
#What's the RMSE on validation?

In [24]:
df2 = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet")

df2['duration'] = df2.tpep_dropoff_datetime - df2.tpep_pickup_datetime
df2.duration = df2.duration.apply(lambda td: td.total_seconds() / 60)

df2 = df2[(df2.duration >= 1) & (df2.duration <= 60)]

In [27]:
categorical = ['PULocationID', 'DOLocationID']
numerical = ['trip_distance']

# Cast categorical features to string
df2[categorical] = df2[categorical].astype(str)

# Convert DataFrame to a list of dictionaries
val_dicts = df2[categorical + numerical].to_dict(orient='records')

# Initialize and fit DictVectorizer
X_val = dv.transform(val_dicts)

# Initialize and fit DictVectorizer
dv = DictVectorizer(sparse=True)

target = 'duration'
y_val = df2[target].values

In [28]:
#Using the Linear Regression Model
lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_val)

mean_squared_error(y_val, y_pred, squared=False)

7.811462911207304